
body {
  font-family: Arial, sans-serif;
  text-align: center;
  gap: 100vh; 
  height: auto;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,41,156,1) 0%, rgba(0,212,255,1) 100%);
}

h1 {
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 50px;
  color: white;
  width: 100%;
  height: 50px; 
  transition-duration: 200ms;
  transition-property: all;
  margin-top: 50px;

}


img {
  width: auto; 
  margin: auto;
  display: grid;
  border-radius: 25px;  
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  margin-bottom: 10px
}

p {
    word-spacing: 0.em;
    line-height: 1.5;
    text-align: center;
    color: white;
}

#inputElements {
  display: grid;
  grid-area: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-column: 1 /  span 2;
  column-gap: 1vh;
  row-gap: 1vh;
  padding: 10px;
  text-align: left;
  background-size: 100vh;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #414141;
  background: lightgray;
}

#p, #r, #n, #t, #A{
  width: auto;
  height: 40px; 
  background: #02c5e6;
  transition-duration: 200ms;
  margin: auto, auto, auto, auto;
  padding: auto;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
}

#A {
  width: auto;
  height: 40px; 
  border-radius: 25px;
  background: #cccccc;
  transition-duration: 200ms;
}

#p:hover {
  background: #0091ff    
}

#r:hover {
  background: #0091ff
}

#n:hover {
  background: #0091ff
}

#t:hover {
  background: #0091ff
}

#myProgress {
  width: 100%;
  background-color: lightgrey;
}

input:focus, textarea:focus {
    background: #02c5e6;
}

@media screen and (max-device-width: 375px) {
  #p, #r, #n, #t, #A {
    width: 50vw;
    height: 40px; 
    background: #02c5e6;
    transition-duration: 200ms;
    margin: auto, auto, auto, auto;
    padding: auto;

    border-style: solid;
    border-width: 3px;

    font-size: 25px;
    text-align: left;
    text-shadow: 1px 1px lightgray;
  }
}